
@font-face {
  font-family: 'NexaScript-Free';
  src: url('NexaScript-Free.eot?#iefix') format('embedded-opentype'),  url('NexaScript-Free.otf')  format('opentype'),
	     url('NexaScript-Free.woff') format('woff'), url('NexaScript-Free.ttf')  format('truetype'), url('NexaScript-Free.svg#NexaScript-Free') format('svg');
  font-weight: normal;
  font-style: normal;
}
